<?xml version='1.0' encoding='utf-8'?>
<widget id="com.writer.sheshjosna" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Class 8 Science prepration</name>
    <description> এর বইয়ের অ্যাপ</description>
    <author email="rokonripon1@gmail.com">Rokonuzzaman Ripon</author>
    <content src="welcome.html" />
    <icon src="icon.png" />
    <access origin="*" />
</widget>
