<?xml version='1.0' encoding='utf-8'?>
<widget id="com.writer.sheshjosna" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Class 8 Science prepration</name>
    <description>For class 8. Science prepration.Note and Exam.Allin one app.</description>
    <author email="your@email.com">Rokonuzzaman Ripon</author>
    <content src="welcome.html" />
   <icon src="www/icon.png" />
    <access origin="*" />
</widget>
